.btn {
  padding: 8px 12px;
  border-radius: 2px;
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease;
  font-family: $sans-bold;
  svg {
    margin-right: 8px;
  }
}


// forms


