.btn {
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease;
  font-family: $sans-bold;
  svg {
    margin-right: 8px;
  }
}
.btn-feedback {
  border:none;
  background-color: rgba(255,255,255,0.99999);
  color:$tertiary-font;
  font-size:1.4rem;
  &:hover {
    color:$secondary-color;
  }
}
.btn-wonk {
   border-bottom:2px solid #fff;
   width:100%;
   margin-right:2%;
   margin-bottom:1%;
   @include breakpoint(md) {
     width:48%;
  }
  &:hover {
    border-bottom:2px solid $primary-color;
  }
}
.color-secondary-font {
  color:$secondary-font;
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  border-color:$borders;
}
:focus-visible {
    outline: 2px solid $primary-color;
}