.btn {
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease;
  font-family: $sans-bold;

  svg {
    margin-right: 8px;
  }
}

.btn-feedback {
  border: none;
  background-color: rgba(255, 255, 255, 0.000001);
  color: $tertiary-font;
  font-size: 1.4rem;
}
.btn-offcanvas {
  position: absolute;
  top:2%;
  left:5%;
  box-shadow: none;
  font-size: 1.2rem;
  padding:0;
  margin:0;
  &:hover {
    color:$primary-color;
  }
  &:active {
    border: none;
  }
}
.btn-link {
  border:none;
  box-shadow:none;
  color:$secondary-font;
  &:hover {
    color: $secondary-color;
    background-color: rgba(255,255,255,0.000001);
  }
  &:active {
    color: $secondary-color !important;
    background-color: rgba(255,255,255,0.000001) !important;
  }
  &:focus-visible {
    color: $secondary-color !important;
    background-color: rgba(255,255,255,0.000001) !important;
  }
}
.btn-wonk {
  border-bottom: 2px solid #fff;
  width: 100%;
  margin-bottom: 1%;
  transition: all ease-in 0.15s;
  @include breakpoint(md) {
    width: 48%;

    &:nth-child(odd) {
      margin-right: 4%;
    }
  }

  &:hover {
    border-bottom: 2px solid $primary-color;
  }
}

.color-secondary-font {
  color: $secondary-font;
}

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  border-color: $borders;
}

:focus-visible {
  outline: 2px solid $primary-color;
}


.wonk-portrait-loading {
  #antennae-keyframe {
    animation: antennae 0.5s infinite;
  }

  
#eye-keyframe {
  animation: eyepan 1s infinite;
}

  @keyframes eyepan {
  0%,100% {
    transform: translate(28%,28%);
  }
    50% {
      transform: translate(34%,28%);
    }
    
}
}
