.wonk-wrapper {
  height:100vh;
  .wonk-container {
  padding: 40px 0;
  width: 96%;
  max-width: 800px;
  margin-left:440px;
  display: flex;
  height:100%;
  flex-direction: column;
  // @include breakpoint(sm) {
  //   width: 92%;
  // }
  // @include breakpoint(md) {
  //   width: 90%;
  // }
  // @include breakpoint(lg) {
  //   width: 86%;
  // }
  .wonk-top {
    margin-bottom:auto;
  }
 
}
}

.sidebar-wrapper {
  background-color: $primary-bg;
  height:100vh;
  width:400px;
  border-right:1px solid $borders;
  position: fixed;
  .sidebar-container {
    text-align: right;
    padding:40px 0;
    margin-right:40px;
    display: flex;
    height:100%;
    flex-direction: column;
        // max-width: 600px;
    // @include breakpoint(sm) {
    //   width: 92%;
    // }
    // @include breakpoint(md) {
    //   width: 90%;
    // }
    // @include breakpoint(lg) {
    //   width: 86%;
    // }
    header {
      margin-bottom:auto;
    }
    footer {
      p {
        color:$secondary-font;
      }
      
    }

  }

}
