$responsive-sidebar-sm: 170px;
$responsive-sidebar-md: 250px;
$responsive-sidebar-lg: 400px;
.wonk-wrapper {
  height:100vh;
  .wonk-container {
  padding: 40px 0;
  max-width: 800px;
  margin-left:$responsive-sidebar-sm;
  padding-left:5%;
  padding-right:5%;
  display: flex;
  height:100%;
  flex-direction: column;
  @include breakpoint(md) {
     margin-left:$responsive-sidebar-md;
  }
  @include breakpoint(lg) {
    margin-left:$responsive-sidebar-lg;
  }
  .wonk-top {
    margin-bottom:auto;
  }
 
}
}

.sidebar-wrapper {
  background-color: $primary-bg;
  height:100vh;
  width:$responsive-sidebar-sm;
  border-right:1px solid $borders;
  position: fixed;
  @include breakpoint(md) {
    width:$responsive-sidebar-md;
  }
    @include breakpoint(lg) {
    width:$responsive-sidebar-lg;
  }
  .sidebar-container {
    text-align: right;
    padding:40px 0;
    margin-right:5%;
    display: flex;
    height:100%;
    flex-direction: column;
    header {
      margin-bottom:auto;
    }
    footer {
      p {
        color:$secondary-font;
      }
    }
  }
}
