img.user-profile {
    border-radius:4px;
    margin-right:8px;
}
img.chat-portrait {
    border-radius:4px;
    box-shadow: $box-shadow;
}
.wonk-svg {
  background-color:$primary-bg;
  width:42px;
  height:42px;
  border-radius: 4px;
  box-shadow: $box-shadow;
  svg {
    width:38px;
    height:38px;
    margin:2px 0 0 2px;
  }
}
.external-links {
    a {
        font-size:1.1rem;
        color:$tertiary-font;
        &:hover {
            color:$secondary-color;
        }
    }
    .svg-inline--fa {
        height:1rem;
        vertical-align: -0.125em;
}
}
.form-control:focus {
    border-color: lighten($primary-color, 7);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 204, 51, 0.25);
}

.home-message {
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
    padding-top:8%;
    img {
        width:20%;
    }
}
.form-floating {
    .wonk-input {
        height:150px;
    }
}
.login-card {
    margin-top:35%;
}
// chat history

.history-wrapper {
    margin-top:15%;
    h2 {
        font-size:0.9rem;
        text-transform: uppercase;
        color:$secondary-font;
    }
    .history-list {
        max-height:700px;
        overflow-y: scroll;
        width: calc(100% + 15px);
        padding:0;
        .history-list-group-item {
            list-style: none;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            text-align: left;
            &:hover {
                background-color:#FFECB2;
            }
            &.active {
                background-color:#FFD966;
            }
            a {
                font-size:0.8rem;
                padding:6px 10px 6px 24px;
                display:block;
                color:$primary-font;
                text-decoration: none;
                margin-bottom:4px;
                @include breakpoint(md) {
                    font-size:0.9rem;
                }
                @include breakpoint(lg) {
                    font-size:1rem;
                }
            }

            div.history-fade {
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
                height: 100%;
                background: linear-gradient(to left, $primary-bg 0%, transparentize($primary-bg, 1.0) 100%);
            }
            
        }
        
    }

}

// scrollbars
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
    background-color: #ececf1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fefefef6;
    border-radius: 5px;
}
// focus-bar

.focus-wrapper {
    margin-top:8%;
    p {
        font-size:0.9rem;
        color:$secondary-font;
        margin:0;
        padding:0;
        margin-bottom:4px;
    }
}
.focus-bar {
    background-color:$primary-bg;
    border:1px solid $borders;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom:-20px;
    transition: background-color 100ms linear;
    cursor: pointer;
    padding:6px 0;
    &:hover {
        background-color: #FFE599;
    }
    .btn-link {
        padding-right:8px;
        font-size:0.9rem;
    }

}

.focus-option {
  .btn-wonk {
    width:100%;
    text-align: left;
    height:111px;
    font-family: $sans-reg;
    text-transform: none;
    border-bottom:4px solid #fff;
    display: flex;
    flex-direction: column;
    h4 {
        font-family: $sans-bold;
        color:$primary-font;
        text-transform: uppercase;
        font-size:1rem;
    }
    p {
        font-size:0.9rem; 
    }
    &:hover {
        border-bottom:4px solid $primary-color;
    }
    &.selected-focus {
        background-color: $primary-bg;
        border-bottom:4px solid $primary-bg;
        &:hover {
            background-color: $primary-bg !important;
            border-bottom:4px solid $primary-color;
        }
        }
  }

}
.focus-result {
    background-color:#F7F7F7;
    border:1px solid $borders;
    margin-bottom:20px;
    border-radius: 6px;
    .btn-link {
        
        padding-right:8px;
        cursor: initial;
        &:hover {
            color:$secondary-font;
        }
    }
}


// modal 
.modal-header {
    padding:16px 16px 10px 16px !important;
    background-color:$primary-bg;
    h5.modal-title {
        font-size:1.1rem;
        color:$primary-font;
        
    }
}

.alert-tag {
    position: absolute;
    top: 10%;
    left: 63.5%;
    background-color: $california;
    width: 132px;
    text-align: left;
    padding: 4px 0 4px 16px;
    p {
        text-transform: uppercase;
        color:#fff;
        font-family:$sans-bold;
        margin:0;
        padding:0;
         font-size:0.8rem;
    }
    
}
.alert-tag-mobile {
    position: absolute;
    top: 11%;
    left: 66%;
    background-color: $california;
    width: 136px;
    text-align: left;
    padding: 4px 0 4px 16px;
    p {
        text-transform: uppercase;
        color:#fff;
        font-family:$sans-bold;
        margin:0;
        padding:0;
    }
}