img.user-profile {
    border-radius:4px;
    margin-right:8px;
}
img.chat-portrait {
    border-radius:4px;
    box-shadow: $box-shadow;
}
.external-links {
    a {
        font-size:1.1rem;
        color:$tertiary-font;
        &:hover {
            color:$secondary-color;
        }
    }
    .svg-inline--fa {
        height:1rem;
        vertical-align: -0.125em;
}
}
.form-control:focus {
    border-color: lighten($primary-color, 7);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 204, 51, 0.25);
}

.home-message {
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
    padding-top:8%;
    img {
        width:75px;
    }
}
.form-floating {
    .wonk-input {
        height:100px;
    }
}
.login-card {
    margin-top:35%;
}
