html {
  color: $primary-font;
}
h1,
h2,
h3,
h4 {
  color: $primary-font;
}
h1 {
  font-weight: 600;
  font-size: 1.1rem;
   @include breakpoint(md) {
    font-size:1.3rem;
  }
     @include breakpoint(lg) {
    font-size:1.5rem;
  }
  &.logo {
    
    a {
    text-decoration: none;
    color: $primary-font;
  }
  }
  
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1.2rem;
  color: $secondary-font;
}
h5 {
  text-transform: uppercase;
  color: $primary-font;
  font-size: 1.2rem;
  font-family: $sans-reg;
  margin-bottom: 0px;
  &.modal-title {
    text-transform: none;
  }
}
p {
  color: $primary-font;
  font-size: 0.8rem;
         @include breakpoint(md) {
        font-size:0.9rem;
      }
        @include breakpoint(lg) {
        font-size:1rem;
      }
  &.lede {
    font-size: 1.1rem;
    color:$secondary-font;
  }
  &.form-helper {
    font-size: 0.9rem;
    color: $secondary-font;
  }
  &.chat-name {
    font-size: 0.8rem;
    color:$primary-font;
    text-transform: uppercase;
    margin-bottom:0;
    margin-top:0;
  }
}
label {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: $primary-font;
}
a {
    color:$secondary-color;
    &:hover {
      color:lighten($secondary-color, 7);
    }
  }
.discreet {
  color: $secondary-font;
  font-size:0.9rem;
  font-style: italic;
}
.form-label {
  text-transform: uppercase;
}
.subtitle {
    margin-bottom: 0;
    font-size:0.8rem;
    color:$secondary-font;
    font-weight:400;
       @include breakpoint(md) {
        font-size:0.9rem;
      }
        @include breakpoint(lg) {
        font-size:1rem;
      }
    
  } 