alembic==1.13.2
autopep8==2.3.1
beautifulsoup4
docling
langchain==0.3.20
langchain-openai==0.3.7
langchain-text-splitters==0.3.6
pgvector==0.3.6
psycopg2==2.9.9
pytest-playwright
PyMuPDF==1.25.2
pymupdf4llm==0.0.17
python-dotenv==1.0.1
sentry-sdk==2.14.0
SQLAlchemy==2.0.33
requests==2.32.2