$responsive-sidebar-sm: 0px;
$responsive-sidebar-lg: 360px;
$content-padding-value:36px 0 18px 0;
.wonk-wrapper {
  height:100vh;
  width:100%;
  .wonk-container {
  padding: $content-padding-value;
  max-width: 1024px;
  margin-left:$responsive-sidebar-sm;
  padding-left:5%;
  padding-right:5%;
  display: flex;
  flex-direction: column;
  height:100%;
  @include breakpoint(lg) {
    margin-left:$responsive-sidebar-lg;
    padding-left:2%;
    padding-right:2%;
  }
  .wonk-top {
    margin-bottom:auto;
  }
 
}
}
.sidebar-wrapper {
  background-color: $primary-bg;
  width:$responsive-sidebar-sm;
  border-right:1px solid $borders;
  position: fixed;
    @include breakpoint(lg) {
    width:$responsive-sidebar-lg;
  }
  .sidebar-container {
    text-align: right;
    padding:$content-padding-value;
    margin-right:5%;
    display: flex;
    flex-direction: column;
    height:100vh;
    header {
      margin-bottom:auto;
    }
  }
}
.mobile-sidebar {
  display:inherit;
  @include breakpoint(lg) {
    display: none;
  }
}
.mobilesidebar-wrapper {
  background-color: $primary-bg;
  border-right:1px solid $borders;
  .mobilesidebar-container {
    text-align: right;
    padding-top:0;
    margin-right:5%;
    display: flex;
    flex-direction: column;
    header {
      margin-bottom:auto;
    }
  }
}
.desktop-sidebar{
  display:none;
  @include breakpoint(lg) {
    display: inherit;
  }

}
.offcanvas {
    background-color:$primary-bg;
}
.offcanvas-body {
  padding:0;
}
footer {
  p {
    color:$secondary-font;
    font-size:0.9rem;
  }
}