html {
  color: $primary-font;
}
h1,
h2,
h3,
h4 {
  color: $primary-font;
  font-family: $sans-reg;
  font-weight:600;
}
h1 {
  font-size: 1.4rem;
  @include breakpoint(md) {
    font-size: 2rem;
  }
  .site-brand & {
    color:$primary-color;
    font-size: 1.2rem;
    text-decoration: none;
  }
  }
  

h2 {
  font-size: 1rem;
  @include breakpoint(md) {
    font-size:1.1rem;
  }
     @include breakpoint(lg) {
    font-size:1.3rem;
  }
}
h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
}
h4 {
  font-size: 1.2rem;
  color: $secondary-font;
}
h5 {
  text-transform: uppercase;
  color: $primary-font;
  font-size: 1.2rem;
  font-family: $sans-reg;
  margin-bottom: 0px;
  &.modal-title {
    text-transform: none;
  }
}
li {
  font-size: 0.8rem;
    @include breakpoint(md) {
    font-size:0.9rem;
  }
    @include breakpoint(lg) {
    font-size:1rem;
  }
}
p {
  color: $primary-font;
  font-size: 0.8rem;
         @include breakpoint(md) {
        font-size:0.9rem;
      }
        @include breakpoint(lg) {
        font-size:1rem;
      }
  &.lede {
    font-size: 1.1rem;
    color:$secondary-font;
  }
  &.form-helper {
    font-size: 0.9rem;
    color: $secondary-font;
  }

}
label {
  font-size: 1rem;
  text-transform: capitalize;
  color: $primary-font;
}
a {
  color: $primary-color;
  &:hover {
    color: lighten($primary-color, 7);
  }
  &.site-brand {
    text-decoration: none;
  }
  &.discreet-link {
    color: $secondary-font;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
    &.first {
      padding-left: 0;
    }
  }
}
.disclaimer {
  color: $secondary-font;
  font-size: 1rem;
  a.discreet-link {
    text-decoration: underline;
  }
}
.discreet {
  color: $secondary-font;
  font-size:0.9rem;
  font-style: italic;
}
.form-label {
  text-transform: uppercase;
}
.subtitle {
    margin-bottom: 0;
    font-size:0.8rem;
    color:$secondary-font;
    font-weight:400;
       @include breakpoint(md) {
        font-size:0.9rem;
      }
        @include breakpoint(lg) {
        font-size:1rem;
      }
    
  } 