
// Sidebar

:root {
  --sidebar-width-open: #{$sidebar-width-open};
}
.wonk-sidebar-wrapper {
  width: $sidebar-width-open;
  background-color: $primary-bg;
  position: relative;
  height: 100dvh;
  border-right: 1px solid #dadada;
  border-bottom:8px solid $ucop-gold;
  .wonk-sidebar-header {
    height: $header-height;
    position: absolute;
    z-index: 99;
  }
  .wonk-sidebar-main {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    position: relative;
    padding-top: $header-height;
  }
  .chat-history-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .chat-history {
    overflow-y: auto;
    .chat-history-list-item {
      list-style: none;
      position: relative;
      border-left:4px solid #fff;
      cursor: pointer;
      &:hover {
        background-color: $ucop-blue-light;
        border-color:$primary-color;
      }
      &.active {
        background-color: $ucop-blue-medium;
        border-color:$primary-color;
      }
      a {
        color:$primary-font;
        font-size: 0.9rem;
        text-decoration: none;
        display: block;
        white-space: nowrap;
        padding:8px;
        padding-left:16px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .list-actions{ 
      position: absolute;
      background-color: rgba(255,255,255,0.000009);
      z-index: 999;
      width: 34px;
      right: 1px;
      bottom:8px;
     
    }
  }
}

.static-nav-list {
  padding-left: 24px;
  font-size: 1.2rem;
  ul {
    list-style-type: none;
    padding-left: 0px;
    li {
      a {
        padding:8px;
        padding-left:0;
        display: block;
      }
      a.active {
        color: $primary-color;
        font-family: $sans-bold;
      }
      svg {
        width: 30px;
      }
    }
  }
}
.btn-open-sidebar {
  position: absolute;
  top: 28px;
  left: 1%;
  z-index: 999;
}
footer {
  text-align: right;
  padding-top: 24px;
  padding-bottom:16px;
  padding-right:16px;
  margin-top:auto;
}
ul.footer-links {
  padding-left: 0;
  li {
    display: inline;
  }
}